
<div>

    <form action="/count" method="post">
        <div class="container">
            <div class="cart">
                <h4>Pizza <span class="price" style="color:black"><i class="fa fa-pizza-cart"></i>
                        <b>Cart</b></span>
                </h4>
                <p><a href="#">Small</a> <span class="price"></span></p>
                <p><a href="#">medium</a> <span class="price"></span></p>
                <p><a href="#">Large</a> <span class="price"></span></p>
                <hr>
                <p>Total cost <span class="price" style="color:black"><b></b></span></p>

                <a href="/order">Order</a>
            </div>


            <div class="pizzas">

                <div class="pizza small">
                    <div class="info">
                        <img src="pizza.png" alt="">
                        <h2>small Pizza</h2>
                        <strong>R33.00</strong>

                    </div>

                    <div class="orderBox">
                        <button class="btnBuy" style="margin-left: auto">buy</button>
                    </div>

                </div>

                <div class="pizza medium">
                    <div class="info">
                        <img src="pizza.png" alt="">
                        <h2>Medium Pizza</h2>
                        <strong>R65.00</strong>

                    </div>

                    <div class="orderBox">
                        <button class="btnBuy" style="margin-left: auto">buy</button>
                    </div>

                </div>
                <div class="pizza large">
                    <div class="info">
                        <img src="pizza.png" alt="">
                        <h2>Large Pizza</h2>
                        <strong>85.00</strong>
                    </div>
                     <div class="orderBox">
                        <button class="btnBuy" style="margin-left: auto">buy</button>
                    </div>

                </div>
            </div>
    </form>


</div>

</div>

<div class="input-container">

    <i class="fa fa-pizza"></i>

    <button type="submit" class="btn">buy</button>
    </form>

</div>