<div>

    {{!-- <form action="/count" method="post" value=""> --}}
        <div class="container">
            <div class="cart">
                
                         
                <h4 class="cartIMG">Pizza <span class="price" style="color:black"><i class="fa fa-pizza-cart"></i>
                        <b>Cart</b></span>
                        <img src="shopping-cart.png" alt="" width="2%" height="2%">
                </h4>
                   

                <div class="Price1">
                    <p><a href="#">Small</a> <span class="price"></span></p>
                    <strong>R{{pizzaSmall}}</strong>
                </div>
                <div class="Price2">
                    <p><a href="#">medium</a> <span class="price"></span></p>

                    <strong>R{{pizzaMedium}}</strong>
                </div>
                <div class="Price3">
                    <p><a href="#">Large</a> <span class="price"></span></p>

                    <strong>R{{pizzaLarge}}</strong>

                   
                </div>

                <hr>
                 <form action="/Total" method="GET" value="">
                <p> <strong> Total cost  R{{pizzaTotal}}</strong><span class="price" style="color:black"><b></b></span></p>


                <a href="/order">Order</a>
                </form>
            </div>


            <div class="pizzas">
                <form action="/small" method="POST">
                    <div class="pizza small">
                        <div class="info">
                            <img src="pizza.png" alt="" width="1000%">
                            <h2>Small Pizza</h2>
                            <strong>33.99</strong>


                        </div>

                        <div class="orderBox">
                            <button class="btnBuy" value="small" name="small" type="submit" style="margin-left: auto">buy</button>
                        </div>

                    </div>
                </form>

                <form action="/medium" method="POST" value="">
                    <div class="pizza medium">
                        <div class="info">
                            <img src="pizza.png" alt="" width="1000%" height="">
                            <h2>Medium Pizza</h2>
                            <strong>R65.00</strong>

                        </div>

                        <div class="orderBox">
                            <button class="btnBuy" style="margin-left: auto">buy</button>
                        </div>

                    </div>
                </form>

                <form action="/large" method="POST" value="">


                    <div class="pizza large">
                        <div class="info">
                            <img src="pizza.png" alt="" width="1000%">
                            <h2>Large Pizza</h2>
                            <strong>85.00</strong>
                        </div>
                        <div class="orderBox">
                            <button class="btnBuy" style="margin-left: auto">buy</button>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    {{!-- </form> --}}


</div>

</div>

{{!-- <div class="input-container">

    <i class="fa fa-pizza"></i>

    <button type="submit" class="btn">buy</button>
    </form>

</div> --}}